@media (min-width: 768px) {
  .main {
    background-image: url(./assets/images/about_bg_01.png);
    background-position: center;
    background-position-x: 30%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: 60%;
    background-color: #f0f0f0;
  }

  .must {
    display: flex;
    background-color: black;
  }

  .must1 {
    display: flex;
  }

  .navbar {
    background-color: white;
  }

  .head_content {
    margin-left: 10%;
  }

  .campaign {
    border: red 5px solid;
    padding: 5px 10px;
    border-radius: 3px;
  }

  .text-color2 {
    font-size: 2rem;
  }

  .email {
    width: 30%;
    margin-left: 40%;
  }

  .program_section .Meshkut_logo {
    width: 40%;
    margin: 0% auto;
  }

  .history_section .img_section {
    flex-direction: row;
    width: 66%;
    margin: 0 auto;
    filter: blur(0.7px);
  }

  .backgrond-color {
    background-color: #333;
    margin-bottom: 1%;
  }

  .custom1 {
    font-size: 20px;
    color: white;
  }

  .custom2 {
    font-size: 16px;
    color: white;
  }
}
